body {
  margin: 0;
}



.header .nav__wrapper ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  margin-top: -16px;
}


.header .nav__wrapper .nav__list .nav__list__item a {
  color: #000;
  font-size: 20px;
  font-family: "Cinzel", serif;
  text-decoration: none;
  text-transform: uppercase;
}

.logo_image {
display: flex;
justify-content: left;
}

.logo_image img{
    width: 46px;
    height: 46px; 
    margin: 10px;
}

#button {
  text-transform: uppercase;
  font-size: 15px;
  background-color: #000;
  color: aliceblue;
  border: 1px solid #000;
  padding: 10px 63px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  margin-left: 10rem;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
    margin-top: 30px;
    height:650px;
   
}
.container_items_text{
background: #000;
flex-grow: 1;
color: aliceblue;
text-align: center;
font-family: "Cinzel", serif;
}
.container_items_text h1{
    margin-top: 200px;
    padding: 20px;
    flex-flow: column wrap;
   
}
.container_items_img img{
    width: 900px;
    height: 650px;
}

.container_2{
    display: flex;
    margin-top: 0px;
    gap: 0;
    height:650px;
    
}
.container_items_text_2 {
    color: #000;
    background-color: aliceblue;
    text-align: center;
    font-family: "Cinzel", serif;
}
.container_items_text_2 h2{
    margin-top: 300px;
    padding: 20px;
    flex-flow: column wrap;
    
}
.container_items_img_2 img{
    flex-grow: 1;
   
}
.container_3{
    display: flex;
    margin-top: 0px;
    gap: 0;
    height: 750px;
    
}
.container_items_text_3{
    color: #000;
    background-color: brown;
    text-align: center;
      font-family: "Cinzel", serif;
     
}

.container_items_text_3 h2{
    margin-top: 300px;
    padding: 30px;
    flex-flow: column wrap;

}
.container_items_img_3 img{
    flex-grow: 1;
   height: auto;
    width: 90vh;
    height: 750px;
}
.gallery_container{
display: flex;

justify-content: center;


}
.gallery_container img{
    width: 430px;
    height: 600px;
   
}

.footer_container{
    background-color: rgb(0, 0, 0);
    padding: 50px 20px;
  display: flex;
justify-content: flex-start;
flex-wrap: wrap;

}


.footer_container_icon span a{
color: rgb(255, 248, 248);
padding-right: 30px;
justify-self: left;

}

.footer_container_content h3{
   flex-direction: column;
   color: rgb(255, 254, 254);
   font-family: "Cinzel", serif;
   padding-left: 80px;
}
.footer_container_copyright p{
    margin-left: 80vh;
   color: rgb(255, 255, 255);
margin-top: 15vh;
font-family: monospace;
font-size: 20px;
}